<div class="cs-container">
    <div class="cs-header">
        <h2>Character Sheet</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="auto" class="cs-section">
        <div fxLayout="column" fxFlex="49%">
            <div class="cs-label">Character</div>
            <div class="cs-field cs-name">{{formData.name}}</div>
            <!-- <mat-form-field appearance="fill">
                <div class="cs-field">
                    <input matInput type="text" [value]="formData.name || ''">
                </div>
            </mat-form-field> -->
        </div>
        <div fxLayout="column" fxFlex="49%">
            <div class="cs-label">Experience</div>
            <div class="cs-field">
                <app-experience-tracker [data]="formData.experience"></app-experience-tracker>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="cs-section">
        <div fxLayout="column" fxFlex="100px">
            <p>motivation</p>
        </div>
        <div fxFlex="auto" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="0.25rem">
                <app-stat [data]="formData.stats?.edge"></app-stat>
                <app-stat [data]="formData.stats?.heart"></app-stat>
                <app-stat [data]="formData.stats?.iron"></app-stat>
                <app-stat [data]="formData.stats?.shadow"></app-stat>
                <app-stat [data]="formData.stats?.wits"></app-stat>
            </div>
            <div class="cs-section-divider"><span class="cs-section-divider">Bonds</span></div>
            <div class="cs-section cs-bonds" fxLayout="column" fxLayoutAlign="start center">
                <app-progress-tracker [data]="formData.bonds"></app-progress-tracker>
                <div class="cs-bonds-text">
                    <mat-form-field appearance="outline" class="cs-bonds-text-input">
                        <mat-label>Bonds with</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="cs-section-divider"><span class="cs-section-divider">Vows</span></div>
            <div class="cs-section cs-vows" fxLayout="column" fxLayoutAlign="start center">
                <div class="cs-vows-wrapper" *ngIf="formData.vows" fxLayout="column" fxLayoutAlign="start center">
                    <div class="cs-vow" *ngFor="let vow of formData.vows; let i = index" fxLayout="column" fxLayoutAlign="start center">
                        <div class="cs-vow-text">
                            <mat-form-field appearance="outline" class="cs-vow-text-input">
                                <input matInput type="text" [value]="vow.text">
                            </mat-form-field>
                        </div>
                        <app-progress-rank [rank]="formData.vows[i].progress.rank"></app-progress-rank>
                        <app-progress-tracker [data]="formData.vows[i].progress"></app-progress-tracker>
                    </div>
                </div>
            </div>
            <div class="cs-section-divider"><span class="cs-section-divider">Debilities</span></div>
        </div>
        <div fxLayout="column" fxFlex="100px">
            <p>statuses</p>
        </div>
    </div>
</div>