.cs-container {
    max-width: 1200px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 15px;
}

.cs-section {
    margin-bottom: 1rem;
}

.cs-section-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 2rem 0;
    span {
        border-bottom: unset;
        background:#fff; 
        padding:0 10px;
        font-family: 'TheWitcher';
        font-size: 16pt;
    }
}

.cs-label {
    font-size: 16pt;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'TheWitcher';
}

.cs-name {
    border: 1px solid #ccc;
    padding: 15px;
    font-family: 'Caveat';
    font-size: 16pt;
    font-weight: 500;
    display: flex;
    align-items: center;
}